body{
    background-color:#00004d;
}

.container{
    width: 300px;
        
    background-color: #FFF;
    
    display: block;
    margin: 5% auto;
    
    border-radius: 10px;
    padding-bottom : 50px;
}

.app_title{
    width: 300px;
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app_title p{
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color:#00001a;
}

.notification{
    background-color: #f8d7da;
    display: none;
}

.notification p{
    color: #721c24;
    font-size: 1.2em;
    margin: 0;
    text-align: center;
    padding: 10px 0;
}

.weather-container{
    width: 300px;
    height: 260px;
    background-color: white;
}

.weather-icon{
    width: 300px;
    height: 128px;
}

.weather-icon img{
    display: block;
    margin: 0 auto;
}

.temp-value{
    width: 300px;
    height:60px;
    
}

.temp-value p{
    padding: 0;
    margin: 0;
    color:#00001a;
    font-size: 4em;
    text-align: center;
    cursor: pointer;
}



.temp-value span{
    color: #00001a;
    font-size: 1em;
    text-align: center;
}


.temp-description p{
    padding: 8px;
    margin: 0;
    color:#00001a;
    text-align: center;
    font-size: 1.2em;
}



.location p{
    margin: 0;
    padding: 0;
    color:#00001a;
    text-align: center;
    font-size: 1em;
}